<div class="content">
    <div class="header">
        <a href="https://perimeter-app.com" class="header-logo"><h1>Perimeter <span>for iPhone</span></h1></a>
        <a class="header-download" href="https://apps.apple.com/app/perimeter-pro/id6624308929"><span>Download on the </span>App Store</a>
    </div> 
    <div class="hero">
        <h2>Measure and Blueprint Outdoor Spaces with AR, Right from Your iPhone!</h2>
        <a href="https://apps.apple.com/app/perimeter-pro/id6624308929" class="download"></a>
    </div>
</div>