---
title: Perimeter - AR based measuring app for iPhone
---

<div class="scroller" id="app-scroller">
  <div class="scroller-space">
    <div class="scroller-sticky">
      <div class="scroller-content">
        <ul>
          <li>
            <img class="screen" src="images/screen-app-1.jpg" width="626" height="1148">
            <div><span>Use your camera to measure areas</span></div>
          </li>
          <li>
            <img class="screen" src="images/screen-app-2.jpg" width="626" height="1148">
            <div><span>Save the measurements as a blueprint</span></div>
          </li>
          <li>
            <img class="screen" src="images/screen-app-3.jpg" width="626" height="1148">
            <div><span>Access all your previously saved data</span></div>
          </li>
          <li>
            <img class="screen" src="images/screen-app-5.jpg" width="908" height="1148">
            <div><span>Export a detailed PDF blueprint</span></div>
          </li>
          <li>
            <img class="screen" src="images/screen-app-4.jpg" width="626" height="1148">
            <div><span>Upload your own logo and change units</span></div>
          </li>
        </ul>
      </div>
      <ul class="features">
        <li>
          <i><svg><use xlink:href="#icon-ar"></use></svg></i>
          <h3>Augmented Reality</h3>
          <p>Measure the area and perimeter of any space by walking around it and placing markers in AR</p>
        </li>
        <li>
          <i><svg><use xlink:href="#icon-measure"></use></svg></i>
          <h3>Get measurements</h3>
          <p>You can review the area, perimeter and individual line length measurements</p>
        </li>
        <li>
          <i><svg><use xlink:href="#icon-saved"></use></svg></i>
          <h3>Save blueprints</h3>
          <p>Save your measurements for future access, ensuring you can revisit your work</p>
        </li>
        <li>
          <i><svg><use xlink:href="#icon-print"></use></svg></i>
          <h3>Export as PDF</h3>
          <p>Generate detailed PDF blueprints with your business logo and information</p>
        </li>
        <li>
          <i><svg><use xlink:href="#icon-height"></use></svg></i>
          <h3>Calculate volume</h3>
          <p>Based on the measured area, you can quickly calculate the volume in various units</p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="content features-static">
	<ul class="features">
    <li>
      <i><svg><use xlink:href="#icon-ar"></use></svg></i>
      <h3>Augmented Reality</h3>
      <p>Measure the area and perimeter of any space by walking around it and placing markers in AR</p>
    </li>
    <li>
      <i><svg><use xlink:href="#icon-measure"></use></svg></i>
      <h3>Get measurements</h3>
      <p>You can review the area, perimeter and individual line length measurements</p>
    </li>
    <li>
      <i><svg><use xlink:href="#icon-saved"></use></svg></i>
      <h3>Save blueprints</h3>
      <p>Save your measurements for future access, ensuring you can revisit your work</p>
    </li>
    <li>
      <i><svg><use xlink:href="#icon-print"></use></svg></i>
      <h3>Export as PDF</h3>
      <p>Generate detailed PDF blueprints with your business logo and information</p>
    </li>
    <li>
      <i><svg><use xlink:href="#icon-height"></use></svg></i>
      <h3>Calculate volume</h3>
      <p>Based on the measured area, you can quickly calculate the volume in various units</p>
    </li>
	</ul>
</div>

<div class="content">

  <div class="faq">
    <div class="faq-item">
      <h4>How accurate this is?</h4>
      <p>Perimeter uses advanced Augmented Reality (AR) technology to deliver highly accurate measurements, typically within a 1-2% difference of actual distances. While the app is designed to provide precision for most outdoor projects, factors such as lighting conditions, the surface of the area being measured, and the steadiness of your movements can affect accuracy. For best results, I recommend using Perimeter in well-lit conditions and on clear, flat surfaces. If theres a large elevation change in the area, I recommend scanning multiple smaller areas. Always double-check measurements for critical projects, especially if exact precision is crucial.</p>
    </div>
    <div class="faq-item">
      <h4>Can i use it indoors?</h4>
      <p>You can, but Perimeter is designed to be used to measure larger outdoor areas, so it's an ideal tool for gardeners, landscapers, general conractors, concrete companies and more.</p>
    </div>
    <div class="faq-item">
      <h4>Is there a subscription fee?</h4>
      <p>No, the app is free to download. To save your measurements and blueprints, you can upgrade to the PRO version with a single lifetime in-app purchase.</p>
    </div>
  </div>

</div>