---
title: Perimeter - AR based measuring app for iPhone
---

<div class="content">
  <h3>Privacy Policy</h3>
  <div class="faq">
    <p>This page is used to inform you regarding my policies with the collection, use, and disclosure of Personal Information if anyone decided to use my app. Its pretty simple:</p>
    <p>The app will require you to provide access to your camera. The information that the app collects will be retained on your device and it is not collected by me in any way. The application is completely offline, nothing gets sent to anyone.</p>
    <p>The app does not use third-party services that may collect information used to identify you. I do not collect any log data and the application does not use any cookies.</p>
    <p>If you have any questions or suggestions about my Privacy Policy, do not hesitate to contact me.</p>
  </div>
</div>
